$color-black: #121010;
$color-yellow: #f4d82a;
$color-light-orange: #ecbd53;
$color-burnt-orange: #ff752c;
$color-red: #f84899;
$color-purple: #c163e3;
$color-blue: #53f0d2;
$color-green: #85f472;
$color-white: #ffffff;
$color-brown: #832d2d;
$color-pastel: #fff3c9;
$color-dark-brown: #5e454b;
$color-light-grey: #cdcdcb;
$color-light-black: #4D5051;
$color-difference-black: #1D1F21;
$color-light-white: #F2F2F2;
$color-yellow-brown: #D8B48A;
$color-smoky-white :#EDEDED;
$color-smoky-white2 :#f7f7f7;
$color-black-gray :#252627;
$color-special-gray :#EEEFF3;
$color-dark-blue:#2D146F;

$color-periwinkle-crayola :#EEEFF3;
$screen-xs: 0;
$screen-sm: 576px;
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
